// Taken from https://coolors.co/82ff9e-a9fbc3-b594b6-935fa7-9b489b

$colorGreen: #82ff9e;
$colorLightGreen: #a9fbc3;
$colorPink: #b594b6;
$colorPurple: #935fa7;
$colorPurpleMain: #9b489b;
$colorPurpleVar: #6f5fa7;
$colorBlue: #21579e;
$titties: #a75f73;

$brightSand: #DECBA4;
$darkSand: #3E5151;
$sliderDark: #585141;

$andiGrau: rgba(48, 44, 45, 1); // #302C2D

$navigation: #6f5fa7;

$orangeBackground: #ffd456;
$yellowBackground: #ffec5e;
