$stageZero: 410px;
$stageOneLower: 411px;
$stageOneHigher: 767px;
$stageTwoLower: 768px;
$stageTwoHigher: 1199px;
$stageThree: 1199px;

@mixin stage00 {
  @media (max-width: $stageZero) { @content; }
}

@mixin stage01 {
  @media (min-width:$stageOneLower) and (max-width:$stageOneHigher)  { @content; }
}

@mixin stage02 {
  @media (min-width:$stageTwoLower) and (max-width:$stageTwoHigher) { @content; }
}

@mixin stage03 {
  @media (min-width: $stageThree) { @content; }
}


.onlyMobile {
  @include stage01 {display:none;}
  @include stage02 {display:none;}
  @include stage03 {display:none;}
}

.onlyTabletAndMobile {

  @include stage03 {display:none;}
}

$widthLevelZero: 410px;
$widthLevelOneLower: 411px;
$widthLevelOneHigher: 767px;
$widthLevelTwoLower: 768px;
$widthLevelTwoHigher: 989px;
$widthLevelThreeLower: 990px;
$widthLevelThreeHigher: 1199px;
$widthLevelFour: 1199px;
$widthLevelFive: 1600px;

@mixin widthLevel00 {
  @media (max-width: $widthLevelZero) { @content; }
}

@mixin widthLevel01 {
  @media (min-width:$widthLevelOneLower) and (max-width:$widthLevelOneHigher)  { @content; }
}

@mixin widthLevel02 {
  @media (min-width:$widthLevelTwoLower) and (max-width:$widthLevelTwoHigher) { @content; }
}
@mixin widthLevel03 {
  @media (min-width:$widthLevelThreeLower) and (max-width:$widthLevelThreeHigher) { @content; }
}

@mixin widthLevel04 {
  @media (min-width: $widthLevelFour) { @content; }
}

@mixin widthLevel05 {
  @media (min-width: $widthLevelFive) { @content; }
}
