<div class="first-view-banner">

 <img id="bannerPic" class="thumbnail" src="{{ site.baseurl }}/assets/images/slider/audio-dj.jpg" alt="image">

</div>


<div class="atzman-intro-container transition-opacity">

  <img class="banner-image" src="{{ site.baseurl }}/assets/images/atzmanmusic.png">

  <br>

  <div class="banner-text readability-shadow align-self-center"><h4><div class="padding-mobile-10">1050 Wien, Jahngasse 43</div> <div class="padding-mobile-10">+4369911081728</div> <div class="padding-mobile-10">atzmanmusic@chello.at</div></h4></div>

  <br>

  <div class="banner-text readability-shadow"><h3> Probetraum / Rehearsal / Studio / Bar </h3></div>


  <div class="after-scroll-top-banner-container">
     <div class="content-container flex-direction-row flex-wrap">

        <div class="intro-text-container readability-shadow">

         <h4>Musikproberäume</h4><h5>24m²/34m²</h5><br>
         <h4>Mo-Fr</h4><h5>14€/h 14:00-22:00</h5><br>
         <h4>Sa,So & Feiertag</h4><h5>16€/h 10:00 - 22:00</h4><br>
         <h4>Free Wifi</h4><br>
         <h4>Bar, Beer & Non Alcoholic</h4><br>

       </div>

       <div class="intro-gallery-container">
          <img class="intro-gallery-element" src="{{ site.baseurl }}/assets/images/intro_gallery/lennonraum_quadratic.jpg">
          <img class="intro-gallery-element" src="{{ site.baseurl }}/assets/images/intro_gallery/zapparaum_quadratic.jpg">
          <img class="intro-gallery-element" src="{{ site.baseurl }}/assets/images/intro_gallery/stueberl_quadratic.jpg">
       </div>

       <div class="intro-maps-container">
         <div class="mapouter">
           <div class="gmap_canvas">
             <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=%201050%20Wien%2C%20Jahngasse%2043&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
           </div>
         </div>
       </div>

       <div class="intro-social-container readability-shadow">
         <h4>Visit Us</h4>
         <img class="intro-social-element" src="{{ site.baseurl }}/assets/images/social_icons/facebook.svg">
         <img class="intro-social-element" src="{{ site.baseurl }}/assets/images/social_icons/twitter.svg">
         <img class="intro-social-element" src="{{ site.baseurl }}/assets/images/social_icons/insta.svg">
         <img class="intro-social-element" src="{{ site.baseurl }}/assets/images/social_icons/youtube.svg">
       </div>

    </div>

   </div>


</div>
