<!-- For Video Plugin -->
<!-- <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/TosRUs/jquery.tosrus.all.css" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/favicons/favicon.ico">

<link rel="stylesheet" href="{{ site.baseurl }}/css/navigation.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/navigationBurgerbutton.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/news.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/subMenu.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/introduction.css"> -->

<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
