<!--  This is the main file which also is needed for the first view -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/after_scroll_event.css">

<!--  These files will be added after the page has loaded, if a user disabled .js it will be added in a no script tag -->
<!--  But in order to prevent any FOC bugs we will disable all div classes which should be loaded afterwards          -->
<style>.after-scroll-top-banner-container {display:none;}</style>

<noscript>

    <link rel="stylesheet" href="{{ site.baseurl }}/css/after_scroll_event.css">

</noscript>
