
<meta name="author" content="Andi Atzman Atzmanmusic">
<meta name="audience" content="Alle">
<meta name="copyright" content="Andi Atzman Atzmanmusic">
<meta name="keywords" content=" Atzman Andi Atzmann Atzmanmusic Zappa Frank Beatles Yellow Submarine Drahdiwaberl John Lennon Musik 1050 Wien Probestudio Proberaum Proberäume Recording Mastering Musik Musikstudio Musikproduktion Aufnahmestudio">
<meta name="description" content="Atzmanmusic, Proberäume und Studio für professionelle Musikproduktionen, 1050 Wien, Jahngasse 43">
<meta name="page-topic" content="Atzmanmusic">
<meta name="page-type" content="Atzmanmusic Proberäume Tonstudio">
<meta name="publisher" content="Andi Atzman">
<meta name="revisit after" content="21" days">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/favicons/favicon.ico">

<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/navigation.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/navigationBurgerbutton.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/news.css">

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
