<!-- <div class="introductionContainer shadowBox">
  <div class="FLEX_IntroductionContentContainer">
    <div class="sectionHeaders">
      <h1>20 Jahre atzman<i>music</i></h1>
      <h3>Musikproberäume<h3>
      <h4>Öffnungszeiten:
      <br><br>
      montag-freitag: 14:00 - 22:00 Uhr
      <br><br>
      samstag / sonntag / feiertag : 10:00 - 22:00 Uhr
      <br><br>
    </h4>

    </div>
  </div>
</div>

<div class="elementContainertitties shadowBox">
  <div class="FLEX_ElementContentContainertitties">
    <div class="sectionHeaders">
      <h1>preise:</h1>
      <h3>montag - freitag 14:00 - 22:00 14€ / stunde *)<h3>
      <h3>samstag, sonntag & feiertag 10:00 - 22:00 16€ / stunde

      <h4>gitarren, bässe, schlagzeugbecken und keyboards können um 5€ gemietet werden. (preis bezieht sich auf die dauer der ganzen probe)</h4>

      <h1>storno:<h1>

      <h3>3 tage vor der probe: 1/2 preis</h3>
      <h3>2 tage vor der probe: 2/3 preis</h3>
      <h3>1 tag  vor der probe:  vollpreis</h3>
      <h3>tag der probe:   vollpreis</h3>

      <br><br>
      <h6> *) montag - freitag (in dringenden fällen) vor 14:00 h um 16€ / stunde</h6>


    </div>
  </div>
</div>



<div class="elementContainer shadowBox">
  <div class="FLEX_ElementContentContainer">

    <div class="sectionHeaders">
      <h1>Lennon Room</h1>
      <h3>34m²<h3>
      <h4>drumset : tama rockstar</h4>
      <h4>bass : warwick 150 w box: hartke 1x15”</h4>
      <h4>gitarre : 5 Amps von Fender, Marshall, Line 6</h4>
      <h4>PA : yamaha 2x 450 w, boxen von Peavy</h4>
      <h4>Fender Rhodes Stagepiano auf Anfrage</h4>
    </div>

    <img class="frontImg" src="{{ site.baseurl }}/assets/images/lennonraum01.jpg">

    <img class="frontImg" src="{{ site.baseurl }}/assets/images/lennonraum02.jpg">


  </div>
</div>

<div class="elementContainerZappa shadowBox">
  <div class="FLEX_ElementContentContainerZappa">

    <div class="sectionHeaders">
      <h1>Zappa Room</h1>
      <h3>24m²<h3>
      <h4>drumset : yamaha power special</h4>
      <h4>bass : warwick 150 w box: hartke 1x15”</h4>
      <h4>gitarre : 4 Amps von Fender, Marshall</h4>
      <h4>PA : zeck 2x 400w, boxen von Yamaha</h4>
      <h4>Fender Rhodes Stagepiano auf Anfrage</h4>
    </div>

    <img class="frontImg" src="{{ site.baseurl }}/assets/images/zapparaum01.jpg">

    <img class="frontImg" src="{{ site.baseurl }}/assets/images/zapparaum02.jpg">


  </div>
</div>


<div class="elementContainertitties shadowBox">
  <div class="FLEX_ElementContentContainertitties">

    <div class="sectionHeaders">
      <h1>Titties & Beer</h1>

      <h4>nach lust und laune für pausen, gedankenaustausch, plaudereien in gemütlicher atmosphäre...
        kaffee und gekühlte getränke zu freundlichen preisen erhältlich.
        internet, klimamatisiert, kein rauchverbot, hier ist (fast) alles erlaubt.</h4>
    </div>

    <img class="frontImg" src="{{ site.baseurl }}/assets/images/stueberl01.jpg">



  </div>
</div>


<div class="elementContainerHausordnung shadowBox">
  <div class="FLEX_ElementContentContainerHausordnung">

    <img class="frontImg" src="{{ site.baseurl }}/assets/images/whip.jpeg">

    <div class="sectionHeaders">

      <h1>Hausordnung</h1>

      <h6>die räume sind in ordentlichem zustand zu verlassen.</h6>

      <h6>die räume haben wohnzimmerqualität - und das soll so bleiben.</h6>

      <h6>in der proberäumen herrscht absolutes rauchverbot ! die nichteinhaltung kostet 50 €.</h6>

      <h6>alle geräte sind ordnungsgemäss ein.- und auszuschalten : lautstärke auf null !</h6>

      <h6>dies gilt ebenso beim umstecken von angeschlossenen geräten !</h6>

      <h6>die durch unsachgemässe handhabung entstandenen schäden trägt zu 100 % der mieter !</h6>

      <h6>speisen, kaugummi,  rotwein sowie heisse getränke sind im proberaum strikt verboten  - bei nichteinhaltung wird eine reinigungsgebühr von 50 € fällig !</h6>

      <h6>es dürfen keine geräte und instrumente von einem in den anderen raum ohne ausdrückliche erlaubnis gebracht werden .</h6>

      <h6>absoluter probenschluss ist um 22 h : bei nichteinhaltung ist der mieter bei einer eventuellen anzeige wegen lärmbelästigung haftbar.</h6>

      <h6>schäden an hauseigenen musikinstrumenten und technischen geräten sind sofort zu melden ! für schäden nach der probe haftet zur gänze der mieter !</h6>

      <h6>die inbetriebnahme eigener verstärker ist nur nach absprache mit atzmanmusic möglich !!!</h6>

      <h6>die eingangstür ist immer geschlossen zu halten.</h6>

      <h6>die proberaumtüren sind während der proben geschlossen zu halten !</h6>

      <h6>für hier gelagerte instrumente wirde keine wie auch immer geartete haftung  übernommen.</h6>

    </div>

  </div>
</div> -->
