<div class="navigationContainer">

    <img class="navigationImage" src="{{ site.baseurl }}/assets/images/atzmanmusic.png">
    
    <div id="initiate" class="item item-transition item-b color-button myRipple">
              <span class="top"></span>
              <span class="middle"></span>
              <span class="bottom"></span>
    </div>


    <div class="contactContainerDesktop mod_scale_fluid">
      <h5>1050 wien, jahngasse 43, <div class="phonenumber">0699 11 08 17 28</div> atzmanmusic@chello.at</h5>
    </div>

    <div class="contactContainerMobile">
      <h5>1050 wien jahngasse 43, <div class="phonenumber">069911081728</div> atzmanmusic@chello.at</h5>
    </div>
</div>
