<div class="container">
  <div class="navigationContainer">

    <div class="burgerContainer">
        <div id="initiate" class="item item-transition item-b color-button myRipple">
          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
        </div>
    </div>

    <div class="navigationImageContainer">
        <img class="navigationImage" src="{{ site.baseurl }}/assets/images/atzmanmusic.png">
    </div>

    <div class="contactContainer">
      1050 wien, jahngasse 43
      phone: 0699 11 08 17 28
      email: atzmanmusic@chello.at
    </div>

</div>
</div>
