<div class="navigation-bar transition-opacity navigation-purple">

  <div class="content-container navigation-container">
    <div class="navigation-element"><h5><a href="">News</a></h5></div>
    <div class="navigation-element"><h5><a href="">Lennon Room</a></h5></div>
    <div class="navigation-element"><h5><a href="">Zappa Room</a></h5></div>
    <div class="navigation-element"><h5><a href="">Hausordnung</a></h5></div>
    <div class="navigation-element"><h5><a href="">Studio</a></h5></div>
    <div class="navigation-element"><h5><a href="">Gallery</a></h5></div>
    <div class="navigation-element"><h5><a href="">Contact</a></h5></div>
  </div>

</div>


<div class="navigation-mobile-container">

    <div id="initiate" class="item-burger item-transition item-b color-button myRipple">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </div>

</div>

<div class="slider">
  <div class="slider-sub-container">
    <div class="slider-nav-element-primary"><h4><a href="#">Home</a></h4></div>
    <div class="slider-nav-element-primary"><h4><a href="#">News</a></h4></div>
    <div class="slider-nav-element-primary"><h4><a href="#">Lennon Room</a></h4></div>
    <div class="slider-nav-element-primary"><h4><a href="#">Zappa Room</a></h4></div>
    <div class="slider-nav-element-primary"><h4><a href="#">Hausordnung</a></h4></div>
    <div class="slider-nav-element-primary"><h4><a href="#">Studio</a></h4></div>
    <div class="slider-nav-element-primary"><h4><a href="#">Gallery</a></h4></div>
    <div class="slider-nav-element-secondary"><h4><a href="#">Contact</a></h5></div>
  </div>
</div>

<div class="slider-background"></div>
