<!DOCTYPE html>
<html id="no-fouc" lang="en" class="no-js">

<!--  Setting Parameter -->



  {% include head.html %}

  <header>


    {% include navigation.html %}



  </header>

<body>

<div class="backgroundDiv"></div>

<div class="submarine"></div>

<canvas id="world"></canvas>

<div class="display hide">{% include subMenu.html %}</div>




      <main>


        {% include news.html %}
        {{ content }}

        <div id="myModal" class="modal">
          <span class="close">&times;</span>
          <img class="modal-content" id="img01">
          <div id="caption"></div>
        </div>

      </main>


      <footer>
        {% comment %}{% include footer.html %}{% endcomment %}
      </footer>


    {% include js.html %}

  </body>

</html>
